.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #b0b0b7;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  background-color: #f8f8f8;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.jumbotron h2 {
  margin-bottom: 20px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*makes input fields green when text is valid and area is filled */
/*.ng-valid.ng-dirty {
  border-color: #78FA89;
  border-width: 2px;
}*/

.jumbotron-title-text-area {
  width: 100%;
  resize: none;
}

.jumbotron-text-area {
  width: 100%;
  /*max-width: 576px;*/
  min-height: 200px;
  margin-bottom: 20px;
}

.card-text-area {
  width: 100%;
  /*max-width: 620px;*/
  min-height: 200px;
  margin-bottom: 20px;
}

.card-title-text-area {
  width: 100%;
  /*max-width: 620px;*/
}

.no-edit {
  background: #eee;
  border-style: none;
}

.form-control:focus {
  box-shadow: none;
  border: inherit;
}

.fieldInvalid {
  border: 1px solid red;
}
.fieldInvalid:focus {
  border: 1px solid red;
}

.noteDiv {
  border: 5px solid #3498db;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 50px;
  margin: 10px;
  background-color: #eee;
}

.noteDiv input {
  border: 2px solid #728DA5;
}

.authText p{
  font-size: 18px;
  color: white;
}

.button {
  border-radius: 15px;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}


.button-positive {
  background: #4ACE35;
}

.button-auth {
  margin-top: 10px;
  margin-bottom: 50px;
}

.loginFields {
  margin-top: 25px;
  margin-bottom: 25px;
}

.button:hover {
  text-decoration: none;
  color: #ffffff;
}

.padleft {
  margin-left: 50px;
  margin-top: 50px;
}

.button-archive {
  margin-left: 50px;
}

.markdown-div {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}
