
<div class="row">
  <p ng-if="currentSavedToken"> You are already logged in. Register or Login to access another account.</p>
  <div class="row">
    <a ng-hide="amRegistering" ng-click="amRegistering = true">Click to Register</a>
    <a ng-show="amRegistering" ng-click="amRegistering = false">Click to Login</a>
  </div>

  <input type="text" ng-model="user.email" class="form-control" placeholder="Email address">

  <input type="password" ng-model="user.password" class="form-control" placeholder="password">
  <input type="password" ng-model="user.confirmpassword" ng-show="amRegistering"  class="form-control" ng-class="{fieldInvalid: (user.password != user.confirmpassword)}" placeholder="confirm password">


  <button class="btn btn-default" ng-show="amRegistering" ng-click="register()" type="button"
    ng-disabled="
    user.email.length == 0 ||
    !user.password ||
    !(user.password == user.confirmpassword)">Register!</button>
  <button class="btn btn-default" ng-hide="amRegistering" ng-click="login()" type="button">Login!</button>

</div><!-- /.row -->
