<div class="row row-offcanvas row-offcanvas-right">

 <div class="col-xs-12 col-sm-9">
   <p class="pull-right visible-xs">
     <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
   </p>
   <div class="jumbotron" ng-show="userToken">
      <h2>Add a Note</h2>
      <form name="noteForm" novalidate>
        <div class="form-group">
          <label>Title</label>
          <input type="title" ng-model="note.title" class="form-control ng-dirty ng-valid" id="titleInput" placeholder="Title" required>
        </div>
        <div class="form-group">
          <label>Text</label>
          <input type="textarea" ng-model="note.text" class="form-control ng-dirty ng-valid" id="textInput" placeholder="Enter Note Description" required>
        </div>
        <h2>{{note.title}}</h2>
        <p>{{note.body}}</p>
        <button type="submit" ng-show="noteForm.$valid" ng-click="addNote(note.title, note.text)" class="btn btn-primary">Save</button>
      </form>
   </div>
   <div class="jumbotron" ng-show="!userToken">
      <h2>Please Login or Register</h2>
      <!-- button takes user to auth page -->
      <button class="btn btn-primary" ng-click="toAuthpage()">Login/Register</button>
   </div>
   <div class="row">
     <div ng-show="userToken">
       <button ng-show="!showArchive" class="btn btn-primary" ng-click="showArchive = true;">Show archive list</button>
       <button ng-show="showArchive" class="btn btn-primary" ng-click="showArchive = false;">Show todo list</button>
   </div>
  </div>


     <div class="col-xs-6 col-lg-4" ng-show="userToken" ng-repeat="note in todoList | orderBy: '-date' | filter:{archive:showArchive}">
        <h2>{{note.title}}</h2>
        <p><strong><em>{{note.date}}</em></strong></p>
        <p>{{note.body}}</p>
        <button type="button" ng-show="note.taskCompleted" ng-click="archiveNote(note)" class="btn btn-success">click to add to archive</button>
        <button type="button" ng-show="!note.taskCompleted" ng-click="markCompleted(note)" class="btn btn-warning">click to mark completed</button>
    </div><!--/.col-xs-6.col-lg-4-->
   </div><!--/row-->
 </div><!--/.col-xs-12.col-sm-9-->
