<div class="row row-offcanvas row-offcanvas-right">

 <div class="col-xs-12 col-lg-12">
   <div class="jumbotron" ng-show="token">
      <h2>Add a Note</h2>
      <form name="noteForm" novalidate>
        <div class="form-group">
          <label>Title</label>
          <input type="title" ng-model="note.title" class="form-control ng-dirty ng-valid" id="titleInput" placeholder="Title" required>
        </div>
        <div class="form-group">
          <label>Text</label>
          <input type="textarea" ng-model="note.body" class="form-control ng-dirty ng-valid" id="textInput" placeholder="Enter Note Description" required>
        </div>
        <a class="button" ng-show="noteForm.$valid" ng-click="addNote(note.title, note.body)">Save</a>
      </form>
   </div>
   <div class="jumbotron" ng-show="!token">
      <h2>Please Login or Register</h2>
      <!-- button takes user to auth page -->
      <a class="button" ng-click="goTo('#/auth')">Login/Register</a>
   </div>
   <div class="row">
     <div ng-show="token">
       <div class="generic">
         <a class="button" ng-hide="showArchive" ng-click="showArchive = true;">Show archive list</a>
         <a class="button" ng-show="showArchive" ng-click="showArchive = false;">Show todo list</a>
         <label class="searchLabel"><input type="textarea" class="form-control" ng-model="searchText" placeholder="Search for a Note"></label>
       </div>
   </div>
 </div>


     <div class="col-xs-12 col-lg-12" ng-show="token" ng-repeat="note in todoList | orderBy: '-date' | filter:{archive:showArchive} | filter: searchText">
        <div class="noteDiv" ng-hide="isEditing">
          <h2>{{note.title}}</h2>
          <p><strong><em>{{formatDate(note.date)}}</em></strong></p>
          <p>{{note.body}}</p>
          <a class="button button-positive" ng-hide="note.archive" ng-click="note.archive = true; updateNoteArchive(note._id, note.archive);">Add to Archive</a>
          <a class="button button-positive" ng-hide="note.archive" ng-click="isEditing = true">Edit</a>
          <a class="button button-positive" ng-show="note.archive" ng-click="note.archive = false; updateNoteArchive(note._id, note.archive);">Restore</a>
        </div>
        <div class="noteDiv" ng-show="isEditing">
          <p><em>Edit mode</em></p>
          <input type="title" ng-model="note.title" id="titleInput">
          <p><strong><em>{{formatDate(note.date)}}</em></strong></p>
          <input type="textarea" ng-model="note.body" id="textInput">
          <a class="button button-positive" ng-hide="note.archive" ng-click="isEditing = false; updateNoteContent(note._id, note.title, note.body)" >Save</a>
          <a class="button button-positive" ng-show="note.archive" ng-click="note.archive = false; updateNoteArchive(note._id, note.archive);" >Restore</a>
        </div>
    </div>
   </div>
 </div>
